<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg app-navbar">
    <div class="container">
        <a class="navbar-brand fw-semibold" th:href="@{/}" href="/">
            <i class="bi bi-receipt-cutoff me-2 text-primary"></i>facto
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNav" aria-controls="mainNav"
                aria-expanded="false" aria-label="Basculer la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">
                        <i class="bi bi-gear me-1"></i>Configuration
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">
                        <i class="bi bi-search me-1"></i>Scan
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">
                        <i class="bi bi-building me-1"></i>Fournisseurs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">
                        <i class="bi bi-play-circle me-1"></i>Traitement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">
                        <i class="bi bi-clock-history me-1"></i>Historique
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
